<html>
<head>
	<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"> -->
	</head>
<body>

<h1>New Menu Item</h1>

<div class = 'pane'>
<form action="{{ url_for('newItem') }}" method = 'post'>

<dl>
	<dt>Title:</dt>
		<dd><input type ='text' size='30' name='title' required="required"></dd>
	<dt>Description:</dt>
		<dd><textarea name = 'description' rows='5' cols='40' required="required"> </textarea></dd>
	<dt>Categroy:</dt>
		<select name="category_id" required="required">
			{% for i in categories %}
			<option value="{{i.id}}">{{i.name}}</option>
			{% endfor %}
		</select>
</dl>


<input type='submit' value='Create'>

</form>
</div>

</body>




</html>