<html>
<head>
	<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"> -->
	</head>
	<body>
	<div class = 'pane'>
		<div class = 'header'>
		<h1>{{ heading }}</h1>
	</div>

	<a href = '{{url_for('newItem') }}'>Create New Item</a>


<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


	{% for i in categories %}
	    <div class = 'title'>
			<a href='{{url_for('listItems',category_id=i.id)}}' ><span class = 'title'><p>{{i.name}}</p></span></a>
		</div>
	{% endfor %}


	{% for i in items %}
	    <div class = 'title'>
			<a href="{{url_for('describeItem',item_id=i.id)}}"><span class = 'title'><p>{{i.title}}</p></span></a>
		</div>
		<div class = 'title'>
			<span class = 'title'><p>{{i.created_date}}</p></span>
		</div>
		
	{% endfor %}


		
		

</div>
</div>
	</body>




</html>